Section_4_Provisoning_web_server/.terraform/
my_lambda_framework/.terraform/
/my_lambda_framework/terraform.tfstate
/my_lambda_framework/terraform.tfstate.backup
/my_lambda_framework/scripts/script-0/python/
/my_lambda_framework/scripts/script-0/requirements.txt
/my_lambda_framework/scripts/script-0/script-0_layer.zip
/my_lambda_framework/scripts/script-0/script-0_python.zip
/my_lambda_framework/scripts/script-1/python/
/my_lambda_framework/scripts/script-1/requirements.txt
/my_lambda_framework/scripts/script-1/script-1_layer.zip
/my_lambda_framework/scripts/script-1/script-1_python.zip
/my_lambda_framework/scripts/script-2/python/
/my_lambda_framework/scripts/script-2/requirements.txt
/my_lambda_framework/scripts/script-2/script-2_layer.zip
/my_lambda_framework/scripts/script-2/script-2_python.zip
/.idea/